* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: WorkSans;
  src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: WorkSans;
  background-color: hsl(275, 100%, 97%);
  background-image: url(../images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 20px;
  user-select: none;
}
@media (width < 1400px) {
  body {
    background-size: auto;
  }
}
@media (width < 768px) {
  body {
    background-image: url(../images/background-pattern-mobile.svg);
    background-size: 100%;
  }
}
.faq-card {
  max-width: 800px;
  background-color: white;
  padding: 30px 40px;
  border-radius: 8px;
  h1 {
    display: flex;
    align-items: center;
    font-size: 3rem;
    margin-bottom: 30px;
    color: hsl(292, 42%, 14%);
    svg {
      margin-right: 20px;
    }
  }
  .questions {
    list-style: none;
    .question {
      cursor: pointer;
      .question__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        font-size: 1.25rem;
        font-weight: 600;
        color: hsl(292, 42%, 14%);
        p {
          transition: all 0.4s ease;
        }
        p:hover {
          color: #ad28eb;
        }
      }
      .question__answer {
        font-size: 1.25rem;
        line-height: 1.5;
        color: hsl(292, 16%, 49%);
        transition: all 0.4s ease;
        overflow: hidden;
        max-height: 0;
      }
    }
    .question:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
